
body {
	font-family: 'Montserrat', sans-serif;
	background: linear-gradient(#76278f, #2B1E66);
}

/* menu header y menu*/
img {
    
    width: 80px;
    height: 57px;
    margin-left: 80px;
    margin-right: auto;

}

.flex-container {
width: 90%;
max-width: 1000px;
margin: auto;
/*flexbox*/
display: flex; /* para mover los elementos*/
flex-direction: row; /* Permite la posicion de las cajas*/
flex-wrap: wrap; /* Para q nos e desborde las cajas*/
}
 
header {
	background: linear-gradient(#76278f,#2B1E66);
	width: 100%;
	padding: 20px;
	/*flex*/
	display: flex ; /*Mover los elementos del contenedor padre*/
}

























/*#menu .flex-container{
		justify-content: flex-end;
		align-items: center;
}

#menu a {
	display: inline-block;
	padding: 20px;
	text-decoration: none;
	color: white;

}

#menu a:hover{
	background: #FF00BF;
}

.login{
	border-radius: 10px;
	border-color: white:
}

div .imgfondo {
	background-image: url('../img/img-lyft/encabezado1.jpg');
	background-repeat: no-repeat;
	
	

}
/* Caja Blanca Formulario

div {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

#titulo {
	background: white;
	background-attachment: fixed;
	width: 45%;
	height: 500px;
	align-self: flex-end;
	order: 1;
	
}

 h1{
	font-size: 20px;
	position:relative;
	width:400px;
	top: 50px;
	bottom: 100px;
	left: 35px;
	color: #352384;
}                     

*/