body{
	font-family: 'Montserrat', sans-serif;
}
.video {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media (min-aspect-ratio: 16/9) {
  .video-bg {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .video-bg {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .video {
    background: url('../img-lyft/hero-video.mp4') center center / cover no-repeat;
  }

  .video-bg {
    display: none;
  }
}
 
  #top-logo{
  	height:40px;
  	width:50px;
  }
  nav{
  	position:fixed;
  	display: flex;
  	flex-direction: row;
  	justify-content: space-between;
  	margin-right:0;
  	margin-left: 0;
  	width:100%;
  }
  .logo{
  	margin-right:300px;
  	margin-left:0px;
  	margin-top:24px;
  }
  .menu{
  	margin-left:0px;
  }
  .menu li{
  	list-style: none;
  	margin-top:30px;
  }
  .menu li a{
  	text-decoration:none;
  	padding:30px 30px;
  	color:white;
	cursor:pointer;
  }
  .menu.flex-container{
  	display:flex;
  	flex-direction:row;
  	justify-content: space-around;
  	padding-left:50px;
  	padding-bottom:30px;
  }

  #menu-login{
  	border:1.5px solid white;
  	padding-top:10px;
  	padding-bottom:10px;
  	padding-right:30px;
  	padding-left: 30px;
  	border-radius: 7px;
  	text-align: center;
  	;
  }
 .menu.active {
    background: #fff;
    padding:0;
    margin:0;
    display:flex;
    justify-content: space-around;
    width:100%;

}
.menu.active a {
	color:black;
}
 .menu .active #menu-login{
  	border:1.5px solid black;
  	padding-top:10px;
  	padding-bottom:10px;
  	padding-right:30px;
  	padding-left: 30px;
  	border-radius: 7px;
  	text-align: center;
  }
  header{
  	padding-top:10%;
  	margin-left:60%;
  	margin-right: 0px;
  }
 header #form{
  	color:#352384;
	display: flex;
	flex-direction: column;
	text-align:center;
	width:80%;
	background-color: white;
	padding: 60px 22px 50px 80px;
  }
 #form h1{
  	text-align: left;
  	font-size: 38px;
  	font-weight: bold;
  }
 #form h4{
  	padding-top:6px;
	text-align: left;
	font-weight:bold;
	font-size: 17px;
	padding-bottom:10px;
  }

 #form input::placeholder{
  	color:grey;
  	font-size: 15px;
  	font-family: 'Montserrat', sans-serif;
  	padding-left: 10px;
  	margin-top: 10px;
  }
 #form input{
  	border: 0;
  	outline: 0;
  	background: transparent;
  	border-bottom: 1.4px solid #7265A9;
  	height:50px;
  	width:85%;
  	margin-right:10px;
  }
 #oculto{
  	display: flex;
  	flex-direction: column;
  }
#form-btn.flex-container{
	display:flex;
	margin-top: 40px;
	padding-right: 100px;
	justify-content: space-between;
	margin-bottom: 20px;
	font-size: 100%;
}
#form-btn a:last-child{
	padding:15px 15px;
	color:#A9B2C1;
}
#form-btn a:first-child {
	text-decoration:none;
	padding:15px 15px;
	color: white;
	background-color: #FF00BF;
	border-radius: 8px;
}
#form-p{
	color:#8D99AC;
	font-size: 75%;
	text-align:left;
	margin-top:15px;
}
#form-p p{
	margin-bottom: 10px;
}

#info.flex-container{
	margin-top:1%;
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	padding:0px 50px 30px 30px;
}
.info-img{
	padding-left:18%;
	padding-right: 15%;
}
.info-img img{
	width:120%;
	height:450px;
}
#info-text.flex-container{
	margin-top:10%;
	display:flex;
	flex-direction: column;
	align-content: center;
	color:white;
	padding-left:10%;
	padding-right: 0;
	padding-bottom: 20px;
}
#info div{
	margin-top: 10%;
}
footer{
	margin-top:80px;
	background-color: #333447;
	color:#FFFFFF;
	padding:60px 0 90px 0;
	height:400px;
}
footer h4{
	font-size: 22px;
}
.superior.flex-container{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	padding:0 250px 0 100px;
	margin-bottom: 50px;
}
.log-in.flex-container{
	display:flex;
	flex-direction: row;
}
.get-it.flex-container{
	margin-top: 6px;
	display:flex;
	flex-direction: column;
}
#apple{
	width:130px;
	height:90px;
}
#google{
	width: 130px;
	height: 40px;
}
#microsoft{
	margin-top:25px;
	width: 130px;
	height:40px;
}
.superior ul{
	list-style: none;
}
.superior ul li a{
	text-decoration: none;
	color:white;
	padding-bottom: 10px;
	font-size: 17px;
}
.inferior.flex-container{
	padding:30px 250px 0 250px;
	text-align: center;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}
.social.flex-container a i{
	text-decoration: none;
	color:white;
	border:1px solid white;
	padding:9px;
	border-radius: 20px;
	font-size: 20px;
}
.social.flex-container{
	padding:0 250px 20px 250px;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}
footer p{
	padding:40px 10px;
}
footer h4{
	padding-bottom: 10px;
}
.login{
	display:flex;
	flex-direction: column;
	align-content: space-around;
}
footer div div ul li{
	padding-top: 30px;
}
