
body {
	font-family: 'Montserrat', sans-serif;
	background: linear-gradient(#76278f, #2B1E66);
}

/* menu header y menu*/
img {  /*logo*/
    width: 80px;
    height: 57px;
 }

.container {
width: 100%;
margin: auto;
/*flexbox*/
display: flex; /* para mover los elementos*/
flex-direction: row; /* Permite la posicion de las cajas*/
flex-wrap: wrap; /* Para q nos e desborde las cajas*/

}
 
header { /* elemento padre del logo tipo y menu nav*/
background: linear-gradient(#76278f,#2B1E66);
	width: 100%;
	padding: 20px;
	/*flex*/
	display: flex; /*Mover elemento padre*/
	justify-content: space-between; /* Esto hace que el logo se vaya a la izquierda y el nav a la derecha*/
	align-items: center; /*para centrar la linea de elementos nav*/
	flex-direction: row; /*nos pone los elementos en linea*/
	flex-wrap: wrap; /* evita que si elemento no cabe se deforme*/
}

header .logo img{   /*Logo  lyft*/
	line-height: 50px;
	position:relative;
	left: 80px;
	width: 70px;
    height: 48px;
}

header nav {  /*menu*/
	
	/*Flex*/
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

header nav a{
 color: white;
 text-align: center;
 text-decoration: none;
 padding: 10px;
 flex-grow: 1; /* me pone los elementos al 100% del contenedor*/

}

header nav a:hover{
	background: #FF00BF;
}

#Sign a:hover{
	border-radius: 10px;

}


























div .imgfondo {
	background-image: url('../img/img-lyft/encabezado1.jpg');
	background-repeat: no-repeat;
	
	

}




















/* Caja Blanca Formulario

div {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

#titulo {
	background: white;
	background-attachment: fixed;
	width: 45%;
	height: 500px;
	align-self: flex-end;
	order: 1;
	
}

 h1{
	font-size: 20px;
	position:relative;
	width:400px;
	top: 50px;
	bottom: 100px;
	left: 35px;
	color: #352384;
}                     

*/